body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1164px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1178px;
  height:685px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1178px;
  height:685px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:334px;
  width:1174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1192px;
  height:699px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-14px;
  width:1192px;
  height:699px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:342px;
  width:1188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:242px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:160px;
  width:257px;
  height:242px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:113px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#009966;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:186px;
  width:113px;
  height:17px;
  font-size:10px;
  color:#009966;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#009966;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:242px;
  width:113px;
  height:13px;
  font-size:10px;
  color:#009966;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#009966;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:296px;
  width:113px;
  height:13px;
  font-size:10px;
  color:#009966;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:314px;
  width:92px;
  height:28px;
  overflow:hidden;
}
#u12_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:18px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'Arial Negreta cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:18px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u12_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:18px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Negreta cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:18px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u12_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:18px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  font-family:'Arial Negreta cursiva', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:18px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:313px;
  width:61px;
  height:29px;
  overflow:hidden;
}
#u19_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:366px;
  width:104px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:374px;
  width:33px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
